@import url("../vendor/fontawesome-free/css/all.min.css");
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css );
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);
@import url(sb-admin-2.min.css);

.wrapper{
    display: flex;
}

.section-wrapper{
    width: 100%;
}

.form-register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.label-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.label-lform{
    width: 30%;
}
.input-form{
    width: 60%;
}

.title-modal{
    width: 90%;
    text-align: center;
}

.card-items{
    display: flex;
    justify-content: space-around;
}
