<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base/base.html :: head">
</head>
<body>
<!-- Page Wrapper -->
<div class="wrapper">
    <!--        Sidebar-->
    <nav th:insert="base/base.html :: sidebar"></nav>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <section id="content-wrapper" class="d-flex flex-column section-wrapper">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:insert="base/base.html :: 'topbar'"></nav>
            <!-- End of Topbar-->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Listado Clientes</h1>
                <!-- DataTales Cliente -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 card-items">
                        <h6 class="m-0 font-weight-bold text-primary">Listado Clientes</h6>
                        <a class="m-0 font-weight-bold text-primary" href="#" data-toggle="modal" data-target="#registerCustomerModal">
                            Registro Clientes
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre Cliente</th>
                                    <th>Apellido Cliente</th>
                                    <th>Email</th>
                                    <th>Fecha de creación</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre Cliente</th>
                                    <th>Apellido Cliente</th>
                                    <th>Email</th>
                                    <th>Fecha de creación</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="customer : ${customers}">
                                    <td th:text="${customer.id}">Codigo</td>
                                    <td th:text="${customer.name}">Nombre</td>
                                    <td th:text="${customer.lastName}">Apellido</td>
                                    <td th:text="${customer.email}">Email</td>
                                    <td th:text="${customer.createAt}">Fecha de creación</td>
                                    <td>
                                        <a class="btn btn-info" th:href="@{/customer/{id}(id=${customer.id})}" data-toggle="modal" data-target="#updateCustomerModal"><i class="fa fa-edit"></i></a>
                                        <button class="btn btn-danger" th:onclick="'javascript:deleteCustomer(' + ${customer.id} + ')'" data-target='#deleteCustomerModal' data-toggle="modal"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Content -->
        </div>
        <!-- Footer -->
        <footer th:insert="base/base.html :: footer" class="sticky-footer bg-white"></footer>
        <!--  End of Footer-->
    </section>
</div>
<!-- End of Page Wrapper -->
<!--scroll-top-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!--end of scroll-top-->
<!--modal-->
<div th:replace="base/base.html :: #logoutModal"></div>
<!--end of modal-->
<!--    Register Modal-->
<div th:replace="customer/register.html :: #registerCustomerModal"> </div>
<!--    End Register Modal-->
<!--    Update Modal-->
<div th:replace="customer/edit.html :: #updateCustomerModal"> </div>
<!--    End Update Modal-->
<!--scripts-->
<div th:insert="base/base.html :: scripts-js"></div>
<!--end of scripts-->
</body>
</html>